<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="autor">Autor</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <form action="" class="Form">
    <input type="search" #NombrePelicula placeholder="Nombre de la Pelicula">
    <button type="button" (click)="ObtenerPeliculasPorNombre(NombrePelicula)">Enviar</button>
  </form>
  <div *ngFor="let Item of Peliculas" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="card" style="width: 18rem;">
      <img src="https://image.tmdb.org/t/p/original/{{Item.poster_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">
        Nombre de la Película: {{Item.title}} <br>
        Año de Lanzamiento: {{Item.release_date}}
        </p>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de la Pelicula</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <img src="https://image.tmdb.org/t/p/original/{{Detalle.backdrop_path}}" width="150px" height="150px" style="text-align: center;" alt="">
          <h2>{{Detalle.original_title}}</h2>
          <p>
            {{Detalle.overview}} <br>
          </p>
          <span style="color: red;">Idioma: </span>
          <span>{{Detalle.original_language}}</span>
        </div>
        <span style="color: blue;">Generos: </span> 
        {{Detalle.genres[0].name}},
        {{Detalle.genres[1].name}},
        {{Detalle.genres[2].name}},
        {{Detalle.genres[3].name}},
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>